.terraform/
.terraform.lock.hcl
*.tfplan
*.tfplan.binary
*.tfstate
*.tfstate.backup
terraform.tfvars
!example.tfvars
crash.log
crash.*.log
.terraformrc
override.tf
override.tf.json
*_override.tf

infracost*.json
.infracost/
checkov-*.json
/tmp/
tests/vendor/
tests/*.test
.DS_Store
